/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    overflow-x: hidden;
} */

/* Judul Halaman "AGEN" */
/* h1 {
    -webkit-text-stroke: 1px white;
    font-size: 5rem;
    max-width: 1200px; 
    width: 90%;
    margin: 20px auto; 
    color: #ece8e1;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
} */



.box {
    color: black;
    display: flex;;
    justify-content: center;
    /* width: 90%;  */
    max-width: 1200px; 
    min-height: 850px;
    margin: 20px auto; 
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(200%);
    transition: transform 0.6s ease;
    padding: 20px;
    position: relative;
    /* overflow-x: hidden; */
}

.box:nth-of-type(even) {
    transform: translateX(-200%);
}

.box.show {
    transform: translateX(0);
}

.box .container {
    display: flex;
    width: 100%;
    max-width: 90vw;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.panel {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    flex: 1;
    margin: 10px;
    height: 150px; 
    position: relative;
    transition: flex 0.7s ease-in-out;
    overflow: hidden; 
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.panel.active {
    flex: 5;
}

.panel img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.panel .info {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel.active .info {
    opacity: 1;
    /* text-align: right; */
}

.panel h3 {
    font-size: 1.5rem;
    margin: 0 0 5px 0;
}

.panel .deskripsi {
    font-size: 0.9rem;
    line-height: 1.4;
}

