
h1 {
    margin: 50px 0 30px;
    text-align: center;
    color: #ff4655;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.faq {
    background-color: transparent;
    border: 1px solid #777;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.faq.active {
    background-color: #1a232e;
    box-shadow: 0 3px 6px rgba(0,0,0, 0.3), 0 3px 6px rgba(0,0,0, 0.3);
}

.faq.active::before,
.faq.active::after {
    content: '\f075';
    font-weight: 900;
    color: #ff4655;
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.faq.active::before {
    color: #0f1923;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
}

.faq-title {
    margin: 0 35px 0 0;
    color: #fff;
    font-family: 'Teko', sans-serif;
    font-size: 1.8rem;
}

.faq-text {
    display: none;
    margin: 30px 0 0;
    color: #ccc;
    font-family: sans-serif;
}

.faq.active .faq-text {
    display: block;
}

.faq-toggle {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    /* color: #ff4655; */
    width: 30px;
}

.faq-toggle:focus {
    outline: none;
}

.faq-toggle .fa-chevron-down {
    color: #ca3838;
}

.faq-toggle .fa-times {
    display: none;
    color: #ff4655;
}

.faq.active .faq-toggle .fa-times {
    display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}

.faq.active .faq-toggle {
    background-color: #999;
}
