section {
    margin-top: 2rem;
}

.container {
    display: flex;
    width: 90vw; 
}

.panel {
    background-size: cover;
    background-position: center;
    height: 80vh;
    border-radius: 30px;
    color: #ffff;
    cursor: pointer;
    flex: 0.5; 
    margin: 10px;
    position: relative;
    transition: flex 700ms ease-in, opacity 700ms ease-in; 
}

.panel h2 {
    position: absolute;
    bottom: 25px;
    left: 20px;
    font-size: 40px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel p {
    position: absolute;
    bottom: 75px;
    left: 20px;
    font-size: 15px;
    margin: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-in 0.4s, transform 0.3s ease-in 0.4s;
}

.panel.active {
    flex: 5; 
}

.panel.active h2,
.panel.active p {
    opacity: 1;
    transform: translateY(0);
}

.container:has(.panel.active) .panel:not(.active) {
    opacity: 0.4;
}