.search {
    position: relative;
    height: 40px; 
}

.search .input {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ece8e1;
    border-radius: 5px;
    font-size: 1rem;
    font-family: sans-serif;
    padding: 10px 15px;
    height: 40px;
    width: 40px;
    transition: width 0.3s ease;
}

.search .btn {
    background-color: transparent;
    border: 0;
    color: #ece8e1; 
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(160px); 
}